<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Page</title>
</head>
<body>
    <h2 style="color: crimson;">Sign-Up</h2>
    <form action="/auth/signup" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="text" placeholder="Country" name="country">
        <input type="submit" value="SignUp" id="">
    </form>
</body>
</html>