<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 style="color:crimson;">Wlecome To Home Page</h1>
    <pre>
    <a href="/auth/signup" style="color: black;">Sign Up</a>
    <a href="/auth/signin" style="color: black;">Sign In</a>
    <a href="/description" style="color:goldenrod">Description</a>
    </pre>
</body>
</html>