<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status<%= code %></title>
</head>
<body>
    <% if(code===500){ %>
            <h2><%= Error from server %></h2>
            <h3><%= message %></h3>
        <% } %>
        <% if(code===404) {%>
            <h2><%= message %></h2>
            <% } %>
</body>
</html>