<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withraw</title>
</head>
<body>
    <h1 style="color: crimson;">Withdraw</h1>
    <h2 style="color: blue;">Withdraw amount from your account</h2>
    <form action="/transaction/withdraw" method="post">
        <input type="number" placeholder="Withdraw" name="withdraw">
        <input type="submit" value="transmission" id="">
    </form>
</body>
</html>